<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - mission6_cdudley6</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav>
        <ul>
            <li> <a asp-controller="Home" asp-action="Index">Home</a></li>
            <li> <a asp-controller="Home" asp-action="Privacy">My Podcasts</a></li>
            <li> <a asp-controller="Home" asp-action="DatingApplication">New Movie Form</a></li>
        </ul>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
