@{
    ViewData["Title"] = "movies";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    
</div>

<img src="~/img/JoelHiltonHeadshot.jpg"  height="500"/>
<br />
<div>
    <a asp-controller="Home" asp-action="DatingApplication">Fill Out Form</a>
</div>

<div>
    <a asp-controller="Home" asp-action="WaitList">View Movie List</a>
</div>